<main>
  <mat-icon mat-dialog-close>close</mat-icon>

  <div class="square"></div>

  <div class="form-content">
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>Nome do Aparelho</mat-label>
        <input type="text" matInput formControlName="nome" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input type="text" matInput formControlName="qtd" />
      </mat-form-field>

      <div style="display: flex; justify-content: space-between">
        <mat-form-field appearance="outline">
          <mat-label>Tempo de Uso</mat-label>
          <input type="text" matInput formControlName="uso" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Horas/D</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-between">
        <mat-form-field appearance="outline">
          <mat-label>Potência</mat-label>
          <input type="text" matInput formControlName="potencia" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>w</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </form>
  </div>

  <button mat-dialog-close (click)="salvarEletrodomestico()">Adicionar</button>
</main>
