div {
  nav {
    button {
      border: none;
      outline: none;
      cursor: pointer;

      span {
        background-image: url("../../../assets/collicone.png") !important;
      }
    }
  }

  div {
    position: absolute;
    background-color: #ffd32c;
    right: 0;
    width: 40%;
    height: 91vh;

    nav {
      
      ul {
        list-style-type: none;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          justify-items: center;
          color: #6b6b6b;
          font-weight: normal;
          font-size: 48px;
        }
      }
    }
  }
}
