main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  table th {
    text-align: center;
    width: 20%;
  }

  table td {
    text-align: center;
    width: 20%;

    mat-icon {
      cursor: pointer;
      outline: 0;
      color: #ffd32c;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    color: #000;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: 2px solid #000;
    font-size: 14px;
    font-weight: 500;
  }

  button:hover {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    color: #ffd32c;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: 2px solid #ffd32c;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    opacity: 0.8;
  }

  section:first-child {
    background-image: url("https://electrplus.s3.us-west-2.amazonaws.com/quarto.jpg");
    width: 100%;
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  section:last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .container-objects {
      width: 100%;
      display: flex;
      flex-direction: column;

      button {
        margin: 20px auto;
      }
    }

    .ul-eletro-objects {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }

    .ul-eletro-objects li img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      cursor: pointer;
    }

    table {
      width: 100%;
      overflow-y: auto;

      p {
        font-size: 12px;
        margin: 0;
      }
    }

    .info {
      width: 100%;
      h2 {
        font-size: 18px;
        margin: 0 0 20px 75px;
      }

      button {
        margin: 15px auto;
      }

      .info-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h2,
        h3,
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}
